<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="baidu-site-verification" content="F9F6ZuigS3" />
<title>{%$title|default:'谢大年的博客'%}</title>
<meta name="keywords" content="javascript,node,jquery,git,python,java,sql,linux,ios,android,教程,软件,编程,开发,运维,云计算,网络,互联网" />
<meta name="description" content="{%$title|default:''%}" />
<link rel="stylesheet" type="text/css" href="{%PUBLIC_CSS%}/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{%PUBLIC_CSS%}/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="{%PUBLIC_CSS%}/home.css" />
<link rel="stylesheet" type="text/css" href="{%PUBLIC_CSS%}/style-responsive.css" />
<link rel="stylesheet" type="text/css" href="{%PUBLIC_CSS%}/font_382240_d6xu3hya3vxi529.css" />
<link rel="shortcut icon" type="image/png" href="{%PUBLIC_IMAGES%}/favicon.ico" sizes="16x16">
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
</head>
<body class="sticky-header">

<div class="main-content" style="min-height: 782px;">
    <div class="header-section">
        <a class="toggle-btn"><i class="glyphicon glyphicon-th-list"></i></a>
        <h3 class="fl course_title">谢大年的博客</h3>
        <!--<div class="menu-right">
            <ul class="notification-menu">
                <li>
                    <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span>刘萃</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li><a href="javascript:;"><i class="fa fa-pencil"></i> 修改密码</a></li>
                        <li><a href="javascript:;"><i class="fa fa-sign-out"></i> 登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>-->
    </div>