/*--------common---------*/
*{word-wrap: break-word;}
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin: 0; padding: 0; border: 0; outline: 0; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "microsoft yahei", sans-serif;}
body{color: #444; font-size: 12px; line-height: 1.5;  font-weight: normal; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "microsoft yahei", sans-serif;}
em, b, i{font-style: normal; font-weight: normal;}
a{color: #444; text-decoration: none; outline: none;}
a:hover{text-decoration: none;}
img,a img{border: 0 none; vertical-align: middle;}
ul,ol{list-style: none;}
li{clear: none!important;}
abbr,acronym{border: 0;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display: block;}

.tc{text-align: center;}
.fn{font-weight: normal;}
.fl{float: left; display: inline-block;}
.fr{float: right; display: inline-block;}
.pa{position: absolute;}
.clear_fix:after{content: ""; display: block; height: 0; clear: both;}

/*-----------基础样式------------*/
.sticky-header {
    background: #f16e50;
    line-height: 20px;
    overflow-x: hidden;
    font-size: 14px;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
input, select, textarea {
    color: #767676;
    resize: none;
}
a:focus, a:active, a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #f16e50;
}
.mtop10 {
    margin-top: 10px;
}
hr {
    border-color: #ddd;
}

/*----------左侧导航-------------*/
.left-side {
    width: 270px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 32px 0 16px;
}
.sticky-left-side {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
}
.left-side-collapsed .sticky-left-side {
    overflow-y: visible;
}
.left-side-collapsed .logo-icon {
    height: 45px;
    margin-top: -48px;
    display: block !important;
}
.left-side-inner {
    padding: 0px;
    margin-bottom: 50px;
}
.left-side .logged-user {
    padding: 0 0 15px 12px;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: none;
}
.left-side .logged-user .media-object {
    width: 45px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: left;
}
.left-side .logged-user .media-body {
    margin-left: 60px;
    color: #d7d7d7;
}
.left-side .logged-user .media-body h4 {
    font-size: 15px;
    margin: 5px 0 0 0;
}
.left-side .logged-user .media-body h4 a {
    color: #fff;
}
.left-side .logged-user .media-body span {
    font-style: italic;
    font-size: 11px;
    opacity: 0.5;
}
.custom-nav {
    margin-bottom: 10px;
}
.custom-nav > li > a {
    color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    padding: 0;
    border-bottom: 1px solid #ff9782;
}
.custom-nav > li > a > span{
    padding: 12px 10px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #CC523A;
}
.custom-nav > li > a:hover,
.custom-nav > li > a:active, 
.custom-nav > li > a:focus{
    background-color: #FF7C5D;
    color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.custom-nav > li.nav-active > ul{
    display: block;
}
.custom-nav > li.nav-active > a:hover {
}
.custom-nav > li.active > a,
.custom-nav > li.active > a:hover,
.custom-nav > li.active > a:focus {
    background-color: #FF7C5D;
    color: #fff;
}
.custom-nav .sub-menu-list {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
}
.custom-nav .sub-menu-list > li > a {
    color: #ffccc0;
    font-size: 13px;
    display: block;
    padding: 10px 5px 10px 20px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.custom-nav .sub-menu-list > li > a:hover,
.custom-nav .sub-menu-list > li > a:active,
.custom-nav .sub-menu-list > li > a:focus {
    text-decoration: none;
    color: #fff;
    background: #FF7C5D;
}
.custom-nav .menu-list > li .fa {
    font-size: 14px;
    margin-right: 5px;
    line-height: 20px;
    text-align: left;
    width: auto;
    vertical-align: baseline;
}
.custom-nav .sub-menu-list > li .fa {
    font-size: 12px;
    opacity: 0.5;
    margin-right: 5px;
    line-height: 20px;
    text-align: left;
    width: auto;
    vertical-align: baseline;
}
.custom-nav .sub-menu-list > li.active > a {
    color: #3eb97f;
    background-color: #2A323F;
}
.custom-nav .sub-menu-list ul {
    margin-left: 12px;
    border: 0;
}
.custom-nav .menu-list.active ul {
    display: block;
}

.bt_link a{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
}
.bt_link a.weibo{
    background: #ff3838;
}
.bt_link a.weixin{
    background: #77ce51;
    position: relative;
}
.bt_link a.weixin img{
    display: none;
    position: absolute;
    bottom: 30px;
    left: -50px;
    width: 128px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}
.bt_link a.weixin:hover img{
    display: block;
}
.bt_link a.github{
    color: #333;
    background: #fff;
}

/*----------左侧导航收起样式----------------*/
.left-side-collapsed .header-section {
    margin-left: 0px;
}
.left-side-collapsed .left-side {
    width: 0;
    top: 0;
    padding: 0;
}
.left-side-collapsed .left-side-inner {
    padding: 0;
}
h5.left-nav-title {
    margin-left: 10px;
    color: #fff;
}
.left-side-collapsed .custom-nav {
    margin: 2px 0 20px 0;
}
.left-side-collapsed .custom-nav li a {
    text-align: center;
    padding: 0;
    position: relative;
}
.left-side-collapsed .custom-nav > li.menu-list > a {
    background-image: none;
}
.left-side-collapsed .custom-nav li a span {
    position: absolute;
    background: #3eb97f;
    padding: 10px;
    left: 52px;
    top: 0;
    min-width: 173px;
    text-align: left;
    z-index: 100;
    display: none;
}
.left-side-collapsed .custom-nav li a span:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #3eb97f;
    border-width: 6px;
    margin-top: -6px;
}
.left-side-collapsed .custom-nav li.active a span {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.left-side-collapsed .custom-nav ul,
.left-side-collapsed .custom-nav .menu-list.nav-active ul {
    display: none;
}
.left-side-collapsed .custom-nav .menu-list.nav-hover ul {
    display: block;
}
.left-side-collapsed .custom-nav > li.nav-hover > a,
.left-side-collapsed .custom-nav > li.nav-hover.active > a {
    background: #fff;
    color: #424F63;
}
.left-side-collapsed .custom-nav li.nav-hover a span {
    display: block;
    color: #fff;
}
.left-side-collapsed .custom-nav li.nav-hover.active a span {
    background: #3eb97f;
    color: #fff;
}
.left-side-collapsed .custom-nav li.nav-hover ul {
    display: block;
    position: absolute;
    top: 40px;
    left: 53px;
    margin: 0;
    min-width: 172px;
    background: #FF7C5D;
    z-index: 100;
    -moz-border-radius: 0 0 2px 0;
    -webkit-border-radius: 0 0 2px 0;
    border-radius: 0 0 2px 0;
    overflow-y: auto;
}
.left-side-collapsed .custom-nav ul a {
    text-align: left;
    padding: 6px 10px;
    padding-left: 10px;
}
.left-side-collapsed .custom-nav ul a:hover {
    background: #2A323F;
}
.left-side-collapsed .custom-nav li a i {
    margin-right: 0;
}
.left-side-collapsed .main-content {
    margin-left: 0;
}
.left-side-collapsed .left-side{
    overflow: hidden;
}

/*-------右侧头部内容----------*/
.header-section {
    background: #fff;
}
.header-section::after {
    clear: both;
    display: block;
    content: '';
}
.header-section .course_title{
    padding-left: 20px;
    font-size: 20px;
    color: #333;
    line-height: 50px;
    margin: 0;
}
.header-section .toggle-btn {
    width: 52px;
    height: 50px;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    float: left;
    color: #212121;
    border-right: 1px solid #e7e7e7;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.header-section .toggle-btn:hover {
    background: #f16e50;
    color: #fff;
    border-right-color: #f16e50;
}
.header-section .menu-right {
    float: right;
    margin-right: 15px;
}
.notification-menu {
    list-style: none;
}
.notification-menu > li {
    display: inline-block;
    float: left;
    position: relative;
}
.notification-menu > li > a > i {
    margin-top: 6px;
}
.notification-menu .dropdown-toggle {
    height: 50px;
    line-height: 28px;
    padding: 12px 10px;
    border-color: #fff;
    background: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
}
.notification-menu .dropdown-toggle:hover,
.notification-menu .dropdown-toggle:focus,
.notification-menu .dropdown-toggle:active,
.notification-menu .dropdown-toggle.active,
.notification-menu .open .dropdown-toggle.dropdown-toggle {
    background: #424f63;
    color: #3eb97f;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.notification-menu .dropdown-toggle img {
    vertical-align: middle;
    margin-right: 5px;
    width: 26px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.notification-menu .dropdown-toggle .caret {
    margin-left: 5px;
}
.notification-menu .dropdown-menu {
    border: 0;
    margin-top: 0px;
    -moz-border-radius: 2px 0 2px 2px;
    -webkit-border-radius: 2px 0 2px 2px;
    border-radius: 2px 0 2px 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 5px;
}
.notification-menu .dropdown-menu:after {
    border-bottom: 6px solid #3eb97f;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    right: 10px;
    position: absolute;
    top: -6px;
}
.notification-menu .dropdown-menu li {
    display: block;
    margin: 0;
    float: none;
    background: none;
    padding: 15px;
}
.notification-menu .dropdown-menu-usermenu li {
    padding: 0;
}
.notification-menu .dropdown-menu li a {
    color: #fff;
    font-size: 13px;
    padding: 7px 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.notification-menu .dropdown-menu li a:hover {
    background: #2a323f;
    color: #fff;
}
.notification-menu .dropdown-menu li i {
    font-size: 11px;
    margin-right: 5px;
}
.notification-menu .dropdown-menu-head {
    padding: 0;
    min-width: 300px;
}
.notification-menu .info-number {
    padding: 12px 15px;
    height: 50px;
    font-size: 16px;
    background: #fff;
    color: #333;
    border-color: #fff;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.notification-menu .dropdown-menu-usermenu {
    background: #3eb97f;
    min-width: 200px;
}
.notification-menu .dropdown-menu-head ul {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 0;
}
.notification-menu .dropdown-menu-head li a {
    color: #333;
    padding: 0;
    opacity: 1;
}
.notification-menu .dropdown-menu-head li a:hover {
    background: none;
    color: #3eb97f !important;
    text-decoration: none;
}
.notification-menu .btn-group {
    margin-bottom: 0;
}

/* ------------------------------
        STICKY HEADER
---------------------------------*/
.sticky-header .header-section {
    position: fixed;
    top: 0;
    left: 280px;
    width: 100%;
    z-index: 100;
}
.sticky-header .main-content {
    padding-top: 50px;
    padding-bottom: 10px;
}
.sticky-header .menu-right {
    margin-right: 300px;
}
.sticky-header.left-side-collapsed .header-section {
    left: 0;
}
.sticky-header.left-side-collapsed .menu-right {
    margin-right: 10px;
}
.sticky-header.left-side-collapsed .wrapper{
    margin-left: 0;
}
.sticky-header .course_title{
    font-size: 14px;
    padding-left: 5px;
}

/*-------MAIN CONTENT---------*/
.main-content {
    margin-left: 270px;
    background: #f0f3f4;
}
.wrapper {
    padding: 10px;
    margin: 10px 0 0 10px;
    background: #fff;
}
.wrapper::after {
    clear: both;
    display: block;
    content: '';
    margin-bottom: 30px;
}
.left-slide-title{
    height: 140px;
    line-height: 140px;
    border-bottom: 1px solid #222933;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}
.left-slide-course{
    color: #fff;
    line-height: 36px;
    font-size: 16px;
    font-weight: normal;
    padding-left: 10px;
    line-height: 51px;
}
.left-slide-course img{
    width: 36px;
}


/*----------主页样式-----------*/
.post{
    border-bottom: 1px dashed #f1f1f1;
}
.post-header h1{
    font-size: 18px;
    line-height: 50px;
}
.post-body p{
    line-height: 22px;
    padding: 20px 0;
}
.post-body img{
    max-width: 100%;
}
.text{
    padding-bottom: 20px;
}
.text .post-time{
    padding-right: 20px;
    line-height: 30px;
}
.text .artc_lable{
    float: left;
    margin-left: 5px;
    text-indent: 0;
}
.text .artc_lable li{
    text-indent: 0;
    float: left;
    padding: 0 5px;
    margin: 5px 15px 5px 5px;
    line-height: 20px;
    height: 20px;
    border-radius: 0 4px 4px 0;
    text-align: center;
}
.text .artc_lable li::before{
    border-width: 10px;
    border-style: solid;
    content: '';
    display: block;
    float: left;
    margin-left: -25px;
    width: 0;
    height: 0;
}
.text .artc_lable li.color0{
    color: #fff;
    background: orange;
}
.text .artc_lable li.color0::before{
    border-color: transparent orange transparent transparent;
}
.text .artc_lable li.color1{
    color: #fff;
    background: #ff99cc;
}
.text .artc_lable li.color1::before{
    border-color: transparent #ff99cc transparent transparent;
}
.text .artc_lable li.color2{
    color: #fff;
    background: #b3abd2;
}
.text .artc_lable li.color2::before{
    border-color: transparent #b3abd2 transparent transparent;
}
.text .artc_lable li.color3{
    color: #fff;
    background: #d0e5b1;
}
.text .artc_lable li.color3::before{
    border-color: transparent #d0e5b1 transparent transparent;
}
.text .artc_lable li.color4{
    color: #fff;
    background: #b2dcf3;
}
.text .artc_lable li.color4::before{
    border-color: transparent #b2dcf3 transparent transparent;
}
.text .artc_lable li.color5{
    color: #333;
    background: #ffff99;
}
.text .artc_lable li.color5::before{
    border-color: transparent #ffff99 transparent transparent;
}
.text .artc_lable li.color6{
    color: #333;
    background: #6c9;
}
.text .artc_lable li.color6::before{
    border-color: transparent #6c9 transparent transparent;
}
.text .artc_lable li.color7{
    color: #333;
    background: #9ff;
}
.text .artc_lable li.color7::before{
    border-color: transparent #9ff transparent transparent;
}
.text .artc_lable li.color8{
    color: #fff;
    background: #fc9;
}
.text .artc_lable li.color8::before{
    border-color: transparent #fc9 transparent transparent;
}
.text .artc_lable li.color9{
    color: #fff;
    background: #999;
}
.text .artc_lable li.color9::before{
    border-color: transparent #999 transparent transparent;
}

/*-----------前端实验室页面样式----------*/
.felab_con{
    margin: 30px auto 0;
    width: 100%;
    padding: 25px 45px;
} 
.felab_con ul{
    width: 100%;
    margin: auto;
    text-align: center;
}
.felab_con li{
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.4s linear;
       -moz-transition: all 0.4s linear;
         -o-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
            transition: all 0.4s linear;
    float: left;
}
.felab_con li a {
    display: inline-block;
    height: 50px;
    line-height: 42px;
    padding: 0px 30px;
    border-width: 4px;
    border-style: solid;
    float: left;
}
.felab_con span {
    display: block;
    font-size: 24px;
    font-style: normal;
}
.felab_con span:before {
    display: block;
}
.felab_con li:hover { 
    z-index: 11;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.felab_con li:hover a{
    text-decoration: none;
}
.felab_con li:hover span{
    -webkit-transition: all 0.4s linear;
       -moz-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
         -o-transition: all 0.4s linear;
            transition: all 0.4s linear;
    -webkit-animation: moveFromBottom 0.3s ease;
       -moz-animation: moveFromBottom 0.3s ease;
        -ms-animation: moveFromBottom 0.3s ease;
         -o-animation: moveFromBottom 0.3s ease;
            animation: moveFromBottom 0.3s ease;
}
.felab_con li:nth-child(1) a{
    color: #4d9683;
    text-shadow: 0 1px 0 #9de3cf;
    border-color: #549e89;
    background-color: #51c9a7;
}
.felab_con li:nth-child(2) a{
    color: #be607e;
    text-shadow: 0 1px 0 #de8ba5;
    border-color: #e499b0;
    background-color: #e67b9c;
}
.felab_con li:nth-child(3) a{
    color: #5e9eb4;
    text-shadow: 0 1px 0 #adddec;
    border-color: #a2cfde;
    background-color: #7ec9e3;
}
.felab_con li:nth-child(4) a{
    color: #ba9d5e;
    text-shadow: 0 1px 0 #f5e0ad;
    border-color: #dcc999;
    background-color: #f0cd78;
}
.felab_con li:nth-child(5) a{
    color: #b468a2;
    text-shadow: 0 1px 0 #e8acd8;
    border-color: #d8abcd;
    background-color: #dd91cb;
}
.felab_con li:nth-child(6) a{
    color: #CC664E;
    text-shadow: 0 1px 0 #FFBCAD;
    border-color: #FF9D86;
    background-color: #FF7C5D;
}

.felab_con li:nth-child(1):hover a{
    color: #0f775c;
    text-shadow: 0 1px 0 #81e6c9;
    border-color: #0a8462;
    background-color: #00c18c;
}
.felab_con li:nth-child(2):hover a{
    color: #b12a55;
    text-shadow: 0 1px 0 #ff95b7;
    border-color: #ba335c;
    background-color: #ea5180;
}
.felab_con li:nth-child(3):hover a{
    color: #2883a2;
    text-shadow: 0 1px 0 #9cdef2;
    border-color: #4397b3;
    background-color: #55c1e5;
}
.felab_con li:nth-child(4):hover a{
    color: #ab8228;
    text-shadow: 0 1px 0 #ffe199;
    border-color: #b08f3e;
    background-color: #f8c64d;
}
.felab_con li:nth-child(5):hover a{
    color: #a33689;
    text-shadow: 0 1px 0 #ec97d6;
    border-color: #b7569f;
    background-color: #dd70c3;
}
.felab_con li:nth-child(6):hover a{
    color: #D45638;
    text-shadow: 0 1px 0 #FFBAAA;
    border-color: #FF876E;
    background-color: #FF6343;
}
.felab_con p{
    line-height: 30px;
    padding-top: 30px;
}
.felab_con p i{
    color: #f16e50;
    font-size: 20px;
    -webkit-animation: rotatean 0.2s infinite;
       -moz-animation: rotatean 0.2s infinite;
         -o-animation: rotatean 0.2s infinite;
            animation: rotatean 0.2s infinite;
    -webkit-transition: 0.1s ease all;
       -moz-transition: 0.1s ease all;
        -ms-transition: 0.1s ease all;
         -o-transition: 0.1s ease all;
            transition: 0.1s ease all;
}



@-webkit-keyframes rotatean {
    from {
        -webkit-transform: rotate(-10deg);
    }
    to {
        -webkit-transform: rotate(10deg);
    }
}

@-moz-keyframes rotatean {
    from {
        -moz-transform: rotate(-10deg);
    }
    to {
        -moz-transform: rotate(10deg);
    }
}

@-o-keyframes rotatean {
    from {
        -o-transform: rotate(-10deg);
    }
    to {
        -o-transform: rotate(10deg);
    }
}

@keyframes rotatean {
    from {
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(10deg);
    }
}

/*------分页样式------*/
.pagination{
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}
.pagination>li{
    display: inline
}
.pagination>li>a,
.pagination>li>span{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}
.pagination>li:first-child>a,
.pagination>li:first-child>span{
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}
.pagination>li:last-child>a,
.pagination>li:last-child>span{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover{
    color: #23527c;
    background-color: #eee;
    border-color: #ddd
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7
}
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover{
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

/*关于作者页面*/
.about_me{
    line-height: 30px;
    padding-top: 30px;
    width: 50%;
    display: inline-block;
    float: left;
    text-align: center;
}
.about_me_info{
    text-indent: 2em;
}
.about_me a{
    padding-left: 0;
}
.about_me a:hover{
    color: #F16E50;
    text-decoration: underline;
}
.about_me span{
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #666;
}
.resume_img{
    width: 100%;
    height: 100%;
    max-width: 300px;
}
@media screen and (max-width: 376px){
    .contenter p.about_me{
        width: 100%;
    }
}
@media screen and (min-width: 376px){
    .contenter p.about_me{
        width: 40%;
        float: left;
        margin: 10px 5%; 
    }
}

/*文章列表样式*/
.blog_list li{
    line-height: 26px;
    color: #2d609f;
}
ol.blog_list li{
    list-style: none;
    width: 23%;
    margin: 1%;
    float: left;
    padding: 5px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    background: #fafafa;
}
ol.blog_list li img{
    width: 100%;
}
.blog_list li a{
    color: #f16e50;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    white-space: nowrap;
}
.blog_list li a:hover{
    color: #F16E50;
    text-decoration: underline;
}
.blog_list li span{
    color: #666;
    display: block;
    text-align: right;
}

/*--------markdown样式--------*/ 
.markdown-body {
    font-family:"Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
    margin: 20px auto;
    width: 100%;
    padding: 25px 45px;
    min-height: 500px;
}
.markdown-body:before {
    display:table;
    content:""
}
.markdown-body:after {
    display:table;
    clear:both;
    content:""
}
.markdown-body>*:first-child {
    margin-top:0 !important
}
.markdown-body>*:last-child {
    margin-bottom:0 !important
}
.markdown-body a:not([href]) {
    color:inherit;
    text-decoration:none
}
.markdown-body .absent {
    color:#c00
}
.markdown-body .anchor {
    display:inline-block;
    padding-right:2px;
    margin-left:-18px
}
.markdown-body .anchor:focus {
    outline:none
}
.markdown-body h1,.markdown-body h2,.markdown-body h3,.markdown-body h4,.markdown-body h5,.markdown-body h6 {
    margin-top:1em;
    margin-bottom:16px;
    font-weight:bold;
    line-height:1.4
}
.markdown-body h1 .octicon-link,.markdown-body h2 .octicon-link,.markdown-body h3 .octicon-link,.markdown-body h4 .octicon-link,.markdown-body h5 .octicon-link,.markdown-body h6 .octicon-link {
    color:#000;
    vertical-align:middle;
    visibility:hidden
}
.markdown-body h1:hover .anchor,.markdown-body h2:hover .anchor,.markdown-body h3:hover .anchor,.markdown-body h4:hover .anchor,.markdown-body h5:hover .anchor,.markdown-body h6:hover .anchor {
    text-decoration:none
}
.markdown-body h1:hover .anchor .octicon-link,.markdown-body h2:hover .anchor .octicon-link,.markdown-body h3:hover .anchor .octicon-link,.markdown-body h4:hover .anchor .octicon-link,.markdown-body h5:hover .anchor .octicon-link,.markdown-body h6:hover .anchor .octicon-link {
    visibility:visible
}
.markdown-body h1 tt,.markdown-body h1 code,.markdown-body h2 tt,.markdown-body h2 code,.markdown-body h3 tt,.markdown-body h3 code,.markdown-body h4 tt,.markdown-body h4 code,.markdown-body h5 tt,.markdown-body h5 code,.markdown-body h6 tt,.markdown-body h6 code {
    font-size:inherit
}
.markdown-body h1 {
    padding-bottom:0.3em;
    font-size:2em;
    line-height:1.2;
    border-bottom:1px solid #eee
}
.markdown-body h1 .anchor {
    line-height:1
}
.markdown-body h2 {
    padding-bottom:0.3em;
    font-size:1.75em;
    line-height:1.225;
    border-bottom:1px solid #eee
}
.markdown-body h2 .anchor {
    line-height:1
}
.markdown-body h3 {
    font-size:1.5em;
    line-height:1.43
}
.markdown-body h3 .anchor {
    line-height:1.2
}
.markdown-body h4 {
    font-size:1.25em
}
.markdown-body h4 .anchor {
    line-height:1.2
}
.markdown-body h5 {
    font-size:1em
}
.markdown-body h5 .anchor {
    line-height:1.1
}
.markdown-body h6 {
    font-size:1em;
    color:#777
}
.markdown-body h6 .anchor {
    line-height:1.1
}
.markdown-body p,.markdown-body blockquote,.markdown-body ul,.markdown-body ol,.markdown-body dl,.markdown-body table,.markdown-body pre {
    margin-top:0;
    margin-bottom:16px
}
.markdown-body hr {
    height:4px;
    padding:0;
    margin:16px 0;
    background-color:#e7e7e7;
    border:0 none
}
.markdown-body ul{
    list-style-type: disc;
}
.markdown-body ol{
    list-style-type: decimal;
}
.markdown-body ul,.markdown-body ol {
    padding-left:2em
}
.markdown-body ul.no-list,.markdown-body ol.no-list {
    padding:0;
    list-style-type:none
}
.markdown-body ul ul,.markdown-body ul ol,.markdown-body ol ol,.markdown-body ol ul {
    margin-top:0;
    margin-bottom:0
}
.markdown-body li>p {
    margin-top:16px
}
.markdown-body dl {
    padding:0
}
.markdown-body dl dt {
    padding:0;
    margin-top:16px;
    font-size:1em;
    font-style:italic;
    font-weight:bold
}
.markdown-body dl dd {
    padding:0 16px;
    margin-bottom:16px
}
.markdown-body blockquote {
    padding:0 15px;
    color:#777;
    border-left:4px solid #ddd;
    font-size: 14px;
}
.markdown-body blockquote>:first-child {
    margin-top:0
}
.markdown-body blockquote>:last-child {
    margin-bottom:0
}
.markdown-body table {
    display:block;
    width:100%;
    overflow:auto;
    word-break:normal;
}
.markdown-body table th {
    font-weight:bold
}
.markdown-body table th,.markdown-body table td {
    padding:6px 13px;
    border:1px solid #ddd
}
.markdown-body table tr {
    background-color:#fff;
    border-top:1px solid #ccc
}
.markdown-body table tr:nth-child(2n) {
    background-color:#f8f8f8
}
.markdown-body img {
    max-width: 100%;
    box-sizing:content-box;
    background-color:#fff
}
.markdown-body img[align=right] {
    padding-left:20px
}
.markdown-body img[align=left] {
    padding-right:20px
}
.markdown-body .emoji {
    max-width:none;
    background-color:transparent
}
.markdown-body span.frame {
    display:block;
    overflow:hidden
}
.markdown-body span.frame>span {
    display:block;
    float:left;
    width:auto;
    padding:7px;
    margin:13px 0 0;
    overflow:hidden;
    border:1px solid #ddd
}
.markdown-body span.frame span img {
    display:block;
    float:left
}
.markdown-body span.frame span span {
    display:block;
    padding:5px 0 0;
    clear:both;
    color:#333
}
.markdown-body span.align-center {
    display:block;
    overflow:hidden;
    clear:both
}
.markdown-body span.align-center>span {
    display:block;
    margin:13px auto 0;
    overflow:hidden;
    text-align:center
}
.markdown-body span.align-center span img {
    margin:0 auto;
    text-align:center
}
.markdown-body span.align-right {
    display:block;
    overflow:hidden;
    clear:both
}
.markdown-body span.align-right>span {
    display:block;
    margin:13px 0 0;
    overflow:hidden;
    text-align:right
}
.markdown-body span.align-right span img {
    margin:0;
    text-align:right
}
.markdown-body span.float-left {
    display:block;
    float:left;
    margin-right:13px;
    overflow:hidden
}
.markdown-body span.float-left span {
    margin:13px 0 0
}
.markdown-body span.float-right {
    display:block;
    float:right;
    margin-left:13px;
    overflow:hidden
}
.markdown-body span.float-right>span {
    display:block;
    margin:13px auto 0;
    overflow:hidden;
    text-align:right
}
.markdown-body code,.markdown-body tt {
    padding:0;
    padding-top:0.2em;
    padding-bottom:0.2em;
    margin:0;
    font-size:85%;
    background-color:rgba(0,0,0,0.04);
    border-radius:3px
}
.markdown-body code:before,
.markdown-body code:after,
.markdown-body tt:before,
.markdown-body tt:after {
    letter-spacing:-0.2em;
    content:"\00a0"
}
.markdown-body code br,
.markdown-body tt br {
    display:none
}
.markdown-body del code {
    text-decoration:inherit
}
.markdown-body pre>code {
    padding:0;
    margin:0;
    font-size:100%;
    word-break:normal;
    white-space:pre;
    background:transparent;
    border:0
}
.markdown-body .highlight {
    margin-bottom:16px
}
.markdown-body .highlight pre,
.markdown-body pre {
    padding:16px;
    overflow:auto;
    font-size:85%;
    line-height:1.45;
    background-color:#f7f7f7;
    border-radius:3px
}
.markdown-body .highlight pre {
    margin-bottom:0;
    word-break:normal
}
.markdown-body pre {
    word-wrap:normal;
    position: relative;
}
.markdown-body pre code,
.markdown-body pre tt {
    display:inline;
    max-width:initial;
    padding:0;
    margin:0;
    overflow:initial;
    line-height:inherit;
    word-wrap:normal;
    background-color:transparent;
    border:0
}
.markdown-body pre code:before,
.markdown-body pre code:after,
.markdown-body pre tt:before,
.markdown-body pre tt:after {
    content:normal
}
.markdown-body video{
    width: 100%;
    max-width: 1200px;
}
.markdown-body kbd {
    display:inline-block;
    padding:3px 5px;
    font-size:11px;
    line-height:10px;
    color:#555;
    vertical-align:middle;
    background-color:#fcfcfc;
    border:solid 1px #ccc;
    border-bottom-color:#bbb;
    border-radius:3px;
    box-shadow:inset 0 -1px 0 #bbb
}

/*---------代码高亮样式----------*/ 
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: white;
    color: black;
}
.hljs-comment,
.hljs-quote {
    color: #800;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-title,
.hljs-name {
    color: #008;
}
.hljs-variable,
.hljs-template-variable {
    color: #660;
}
.hljs-string,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-regexp {
    color: #080;
}
.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-meta,
.hljs-number,
.hljs-link {
    color: #066;
}
.hljs-title,
.hljs-doctag,
.hljs-type,
.hljs-attr,
.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
    color: #606;
}
.hljs-attribute,
.hljs-subst {
    color: #000;
}
.hljs-formula {
    background-color: #eee;
    font-style: italic;
}
.hljs-selector-id,
.hljs-selector-class {
    color: #9B703F
} 
.hljs-addition {
    background-color: #baeeba;
}
.hljs-deletion {
    background-color: #ffc8bd;
}
.hljs-doctag,
.hljs-strong {
    font-weight: bold;
}
.hljs-emphasis {
    font-style: italic;
}

/*---------游记列表页面样式--------*/
#allmap{
    width: 100%;
    height: 500px;
}
.map_info{
    padding-top: 20px;
}
.travle_list .list{
    width: 50%;
    float: left;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

/*.travle_list span{
    width: 600px;
    float:left;
}

.travle_list img{
    width: 510px;
    height: 286px;
}

.travle_detail img{
    width: 1050px;
    height: 700px;
}*/


/*----------友链页面样式------------*/
.about_con{
    padding: 20px;
}
.about_con p{
    line-height: 30px;
    font-size: 16px;
}

@media screen and (max-width: 600px){
    .wrapper{
        margin: 10px 10px 0;
    }
}

.changyan{
    width: 98%;
    margin: 10px 0 0 10px;
}