{%include file='admin/public/header.html'%}
{%include file='admin/public/menu.html'%}
<div class="right">
    <div class="list-group">
        <a class="list-group-item disabled">系统信息</a>
        <ul class="list-group">
            <li class="list-group-item">System：Centos 7.3.1611</li>
            <li class="list-group-item">Nginx：1.12.0</li>
            <li class="list-group-item">Mysql：5.7.18</li>
            <li class="list-group-item">Php: 7.15</li>
            <li class="list-group-item">Disk space: 60%</li>
        </ul>

        <ul class="list-group">
            <a class="list-group-item disabled">博客数据统计</a>
            <li class="list-group-item">用户：14 人</li>
            <li class="list-group-item">文章：37 篇</li>
            <li class="list-group-item">相册：3 个 &nbsp;&nbsp;|&nbsp;&nbsp; 照片总数：18675 张</li>
            <li class="list-group-item">版本：V1.0</li>
        </ul>
    </div>
</div>
{%include file='public/footer.html'%}
